ACTION=="add", SUBSYSTEM=="net", DEVPATH=="/devices/platform/soc/*/spi0.0/net/can?", NAME="can0", TAG+="systemd", ENV{SYSTEMD_WANTS}="sn-pi-can-socketcan@%k.service"
