# Template for starting a TCP server on port starting from 7880 based on the rfcomm device number
# The instance value should be the rfcomm device number, i.e. `@0` for /dev/rfcomm0 or `@1` for
# /dev/rfcomm1. The instance number, added to 7880, determines the TCP port number.

[Unit]
Description=SolarNode Bluetooth serial connection
Requires=bluetooth.service
After=bluetooth.service

[Service]
ExecStart=/usr/bin/rfcomm watch /dev/rfcomm%I 1 /usr/bin/socat tcp-l:788%I,bind=127.0.0.1,reuseaddr\
	/dev/rfcomm%I,rawer,nonblock,waitlock="/var/run/rfcomm%I.lock",b115200

[Install]
WantedBy=bluetooth.target
