[Unit]
Description=SolarNode Bluetooth discoverable 
After=bluetooth.service
PartOf=bluetooth.service
ConditionPathExists=/etc/solarnode/identity.json

[Service]
Type=oneshot
ExecStartPre=/usr/bin/hciconfig hci0 up
ExecStart=/usr/bin/hciconfig hci0 piscan

[Install]
WantedBy=bluetooth.target
