[Unit]
Description=SolarNode Bluetooth setup agent
Requires=bluetooth.service
After=bluetooth.service

[Service]
ExecStart=/usr/bin/bt-agent -d -p /etc/solarnode/bt-setup-pins

[Install]
WantedBy=bluetooth.target
