[Unit]
Description=SolarNode Bluetooth Setup authentication agent
After=bluetooth.service
PartOf=bluetooth.service
StartLimitIntervalSec=5
StartLimitBurst=20

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/share/solarnode/bin/sn-bt-setup-peripheral-agent.py

[Install]
WantedBy=bluetooth.target
