[Unit]
Description=Quectel mobile network auto reconnect

[Service]
Type=oneshot
ExecStart=/usr/share/solarnode/bin/mobile-shield-quectel-reconnect.sh
KillMode=none
