[Unit]
Description=PyPowerwall network auto reconnect

[Service]
Type=oneshot
ExecStart=/usr/share/solarnode/bin/sn-pypowerwall-reconnect.sh
KillMode=none
