[Unit]
Description=RXTX lock file cleanup
PartOf=solarnode.service
Before=solarnode.service

[Service]
Type=oneshot
ExecStart=/bin/sh /usr/share/solarnode/bin/sn-rxtx-cleanup.sh

[Install]
WantedBy=solarnode.service
