[Unit]
Description=Packet Filtering Framework
DefaultDependencies=no
After=systemd-sysctl.service
Before=sysinit.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/iptables-legacy-restore /etc/iptables/iptables.rules
ExecReload=/usr/sbin/iptables-legacy-restore /etc/iptables/iptables.rules
ExecStop=/usr/usr/share/solarnode/bin/iptables-flush.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

